<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   </head>
   <body>
      <div class="container-narrow">
      <div class="jumbotron">
         <img src="https://c0.wallpaperflare.com/preview/733/351/736/united-kingdom-longford-heathrow-airport.jpg" alt="" width="700" class="img-responsive center-block"/>  
         <h1>Flight Offers From London</h1>
      </div>
      <hr>
      <div class="container">
         <h2>Choose Your Journey</h2>
         <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Date
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="2022-03-01">2022-03-01</a></li>
               <li><a class="dropdown-item" href="2022-03-02">2022-03-02</a></li>
               <li><a class="dropdown-item" href="2022-03-03">2022-03-03</a></li>
               <li><a class="dropdown-item" href="2022-03-04">2022-03-04</a></li>
               <li><a class="dropdown-item" href="2022-03-05">2022-03-05</a></li>
               <li><a class="dropdown-item" href="2022-03-06">2022-03-06</a></li>
               <li><a class="dropdown-item" href="2022-03-07">2022-03-07</a></li>
               <li><a class="dropdown-item" href="2022-03-08">2022-03-08</a></li>
               <li><a class="dropdown-item" href="2022-03-09">2022-03-09</a></li>
               <li><a class="dropdown-item" href="2022-03-10">2022-03-10</a></li>
               <li><a class="dropdown-item" href="2022-03-11">2022-03-11</a></li>
               <li><a class="dropdown-item" href="2022-03-12">2022-03-12</a></li>
               <li><a class="dropdown-item" href="2022-03-13">2022-03-13</a></li>
               <li><a class="dropdown-item" href="2022-03-14">2022-03-14</a></li>
               <li><a class="dropdown-item" href="2022-03-15">2022-03-15</a></li>
               <li><a class="dropdown-item" href="2022-03-16">2022-03-16</a></li>
               <li><a class="dropdown-item" href="2022-03-17">2022-03-17</a></li>
               <li><a class="dropdown-item" href="2022-03-18">2022-03-18</a></li>
               <li><a class="dropdown-item" href="2022-03-19">2022-03-19</a></li>
               <li><a class="dropdown-item" href="2022-03-20">2022-03-20</a></li>
               <li><a class="dropdown-item" href="2022-03-21">2022-03-21</a></li>
               <li><a class="dropdown-item" href="2022-03-22">2022-03-22</a></li>
               <li><a class="dropdown-item" href="2022-03-23">2022-03-23</a></li>
               <li><a class="dropdown-item" href="2022-03-24">2022-03-24</a></li>
               <li><a class="dropdown-item" href="2022-03-25">2022-03-25</a></li>
               <li><a class="dropdown-item" href="2022-03-26">2022-03-26</a></li>
               <li><a class="dropdown-item" href="2022-03-27">2022-03-27</a></li>
               <li><a class="dropdown-item" href="2022-03-28">2022-03-28</a></li>
               <li><a class="dropdown-item" href="2022-03-29">2022-03-29</a></li>
               <li><a class="dropdown-item" href="2022-03-30">2022-03-30</a></li>
               <li><a class="dropdown-item" href="2022-03-31">2022-03-31</a></li>
            </ul>
         </div>
         <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Destination
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="Paris">Paris</a></li>
               <li><a class="dropdown-item" href="Frankfurt">Frankfurt</a></li>
               <li><a class="dropdown-item" href="Rome">Rome</a></li>
               <li><a class="dropdown-item" href="Madrid">Madrid</a></li>
               <li><a class="dropdown-item" href="Seoul">Seoul</a></li>
            </ul>
         </div>
         <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">From
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="London">London</a></li>
            </ul>
         </div>

      </div>
   </body>
</html>